body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#modal {
  display: flex;
  color: rgb(11, 10, 10) !important;
  background-color: black !important;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
}

.drinkImg{
  height: 300px;
  margin: 10px;
  flex-wrap: wrap;
}

button {
  box-shadow: 3px 2px 3px rgb(79, 79, 79);
  border-radius: 7px solid;
  padding: 5px;
  flex-wrap: wrap;
}

#simple-modal-title {
  color: white;
  flex-wrap: wrap;
}

.cocktail-details {
  color: white;
  flex-wrap: wrap;
  
}

.drink-category {
  font-weight: bold;
  font-size: 25px;
  border-bottom: .5px solid 50%;
  flex-wrap: wrap;
}

@media (max-width: 790px){
  #modal{
    height: 25%;
  }
  .drinkImg{
    height: 150px;
  }
  #simple-modal-title{
    font-size: 18px;
  }
}

@media (max-width: 440px){
  .drinkImg{
    height: 50px;
  }
}